asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.2.2
channels==4.1.0
channels_redis
charset-normalizer==3.3.2
Django==5.0.2
django-braces==1.15.0
django-debug-toolbar==4.3.0
django-embed-video==1.4.9
django-redisboard==8.4.0
djangorestframework==3.14.0
idna==3.6
pillow==10.2.0
pymemcache==4.0.0
pytz==2024.1
redis==5.0.3
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.1
